img {
    display: block;
    max-width: 50px;
    height: auto;
  }

#map {
    height: 705px;
}

.navbar {
    background-color: rgb(0, 0, 198);
}
.navbar .btn {
    background-color: rgb(0, 0, 198);
}
.navbar *{
    color: white;
}

.navbar-toggler {
    background-color: white;
}

.footer {
    background-color: rgb(0, 0, 198);
}

.white-img {
    filter: invert(100%) brightness(100%);
}
  